{% extends 'todo/base.html' %}

{% block content %}
<form class="todo" method="post">
  <h1 class="h3 mb-3 font-weight-normal text-center">Todo app</h1>

  <div class="todo__form">
    <input name="description" type="text" class="todo__input form-control" placeholder="What do you want to do" autofocus />

    <button class="btn btn-lg btn-primary" type="submit">+ Add</button>
  </div>

  <div class="card">
    <div class="card-header">
      Tasks
    </div>
    <ul class="list-group list-group-flush">
      {% if tasks|length == 0 %}
      <li class="list-group-item">
        <small><em>There are no items added</em></small>
      </li>
      {% endif %}

      {% for task in tasks %}
        <li class="list-group-item">
          <div class="todo__description">
            {% if task.is_complete %}
              <del>{{ task.description }}</del>
            {% else %}
              {{ task.description }}
            {% endif %}
          </div>

          <div class="todo__actions">
            {% if task.is_complete %}
              <a href="/todo/{{ task.id }}/incomplete">INCOMPLETE</a> |
            {% else %}
              <a href="/todo/{{ task.id }}/complete">COMPLETE</a> |
            {% endif %}

            <a href="/todo/{{ task.id }}/remove">REMOVE</a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

  {% csrf_token %}
</form>
{% endblock %}