{% extends 'todo/base.html' %}

{% block content %}
<form class="todo">
  <h1 class="h3 mb-3 font-weight-normal text-center">Todo app</h1>

  <div class="todo__form">
    <input type="text" class="todo__input form-control" placeholder="What do you want to do" autofocus />

    <button class="btn btn-lg btn-primary" type="submit">+ Add</button>
  </div>

  <div class="card">
    <div class="card-header">
      Tasks
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="todo__description">
          Buy milk
        </div>

        <div class="todo__actions">
          <a href="/todo/1/complete">COMPLETE</a> |

          <a href="/todo/1/remove">REMOVE</a>
        </div>
      </li>

      <li class="list-group-item">
        <div class="todo__description">
          <del>Wash car</del>
        </div>

        <div class="todo__actions">
          <a href="/todo/1/incomplete">INCOMPLETE</a> |

          <a href="/todo/1/remove">REMOVE</a>
        </div>
      </li>
    </ul>
  </div>
</form>
{% endblock %}